<script src="https://www.google.com/recaptcha/api.js"></script>
<style type="text/css">
	#content {
		padding-right: 0;
	}
</style>
<div id="content">
	<table style="width: auto;">
		<tr>
			<td>
				<h2 id="name">[board_name]</h2>
				<p id="desc">[board_desc]</p>
			</td>
			<td style="padding-left: 50px; text-align: left; padding-top: 8px;">
				<a href="javascript:thread_form();"><i class="material-icons">add_circle</i></a>
			</td>
		</tr>
	</table>
	<div id="threads">[threads]</div>
</div>
<div id="thread_form" style="display: none;">
	<a href="javascript:thread_form();"><i style="display: block; text-align: right; margin: -12.5px -12.5px -12.5px 0;" class="material-icons">close</i></a>
	<form method="post" action="[thread_url]" enctype="multipart/form-data">
		<input required type="file" accept="image/*" name="image">
		<textarea required rows="8" name="comment" placeholder="Comment (1200 chars max)" maxlength="1200"></textarea>
		<!-- <button type="submit">New Thread</button> -->
		<button type="submit" class="g-recaptcha" data-sitekey="[recaptcha_key]" data-badge="bottomleft" data-callback="threadSubmit">New Thread</button>
	</form>
</div>
<script type="text/javascript">

	var threadForm = document.getElementById("thread_form");
	function thread_form() {
		if (threadForm.style.display == "none") {
			threadForm.style.display = "block";
			threadForm.style.right = "-350px";
			setTimeout(function() {
				threadForm.style.right = "25px";
			}, 10);
		} else {
			threadForm.style.right = "-350px";
			setTimeout(function() {
				threadForm.style.display = "none";
			}, 210);
		}
	}

	window.addEventListener("keyup", function(e) {
		if (e.key == "Escape") thread_form();
	});

	function threadSubmit(token) {
		threadForm.lastElementChild.submit();
	}

</script>