<style type="text/css">
	#content {
		padding-right: 0;
	}
</style>
<div id="content">
	<h2 id="name">[board_name]</h2>
	<p id="desc">[board_desc]</p>
	<div id="threads">
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
		<div id="thread">
			<div id="thumbnail"></div>
			<p id="extra">00:00, 27 April '18</p>
			<p>this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupidthis is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid this is stupid</p>
		</div>
	</div>
</div>