* {
	margin: 0;
	padding: 0;
	transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

body {
	background-color: #1d1f21;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	width: 100%; height: 100vh;
	overflow-x: hidden;
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

#background {
	position: fixed; margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -1000;
	background-image: url([path]sakura.gif);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

#boards {
	position: fixed; margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(29, 31, 33, 0.9);
	width: calc(100% - 100px);
	height: calc(100% - 125px);
	padding: 50px;
	padding-top: 75px;
}

#boards h2 {
	transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
	font-weight: 700;
	transform-origin: 0 0;
	transform: rotate(-3deg);
	display: inline-block;
	color: #777;
}

#boards h2:hover {
	color: #E91E63;
	margin-left: 10px;
}

#boards #title {
	position: fixed; margin: auto;
	bottom: 50px; right: 50px;
	color: #ffffff;
}

#boards #title:hover {
	transform-origin: 0.5 0.5;
	transform: rotate(-3deg);
}

a, a:link, a:active, a:hover, a:visited {
	color: #E91E63;
	text-decoration: inherit;
}

#header {
	position: absolute; margin: auto;
	top: 0; left: 0; right: 0;
	height: calc(50px - 24px);
	padding: 12px;
	padding-left: 12px;
	z-index: 10000;
}

#header h1 {
	font-size: 24px;
	display: inline-block;
	padding-right: 8px;
	color: #ffffff;
}

#header p {
	font-size: 16px;
	display: inline-block;
	padding-left: 4px;
	padding-bottom: 4px;
}

#header p a, #header p {
	color: #777;
}

#header h1:hover {
	transform-origin: 0.5 0.5;
	transform: rotate(-3deg);
}

#header p a:hover {
	color: #E91E63;
}

#content {
	position: absolute; margin: auto;
	top: 0; left: 0; right: 0;
	padding: 50px; padding-top: 75px;
}

#content > table #name {
	color: #E91E63
}

#content > table #desc {
	margin-left: 12.5px;
}

.material-icons {
	color: #555;
	font-size: 32px;
}

.material-icons:hover {
	color: #E91E63;
}

#threads {
	width: 100%;
	margin-top: 50px;
}

#threads > #thread {
	width: 200px;
	height: 300px;
	text-align: center;
	overflow: hidden;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
}

#threads > #thread > #thumbnail {
	display: block; width: 100%;
	height: 130px;
	background-color: #333;
	border-radius: 4px;
}

#threads > #thread > #extra {
	color: #777;
	text-align: right;
	padding-right: 2px;
}

table {
	width: 100%;
}

table td {
	vertical-align: middle;
}

#thread_form {
	position: fixed; margin: auto;
	bottom: 25px; right: 25px;
	width: 300px; height: auto;
	background-color: #333;
	border-radius: 8px;
	padding: 25px;
}

form button, form input, form textarea {
	width: 100%;
	background-color: #555;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
}

form input[type="file"] {
	display: block;
	background-color: transparent;
	margin-bottom: 4px;
}

form button {
	position: relative;
	padding: 4px 8px;
	text-align: right;
	background-color: #555;
}

form button:after {
	content: "";
	position: absolute; margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	background: linear-gradient(90deg, #333, transparent);
}

form button:hover {
	background-color: #E91E63;
}

form textarea {
	width: calc(100% - 16px);
	padding: 4px 8px;
	resize: none;
}

input:focus, textarea:focus, button:focus {
	outline: none;
}