/* Colours */

:root {
	--background: #1D1F21;
	--banner: #ACDACD;
}


/* Imports */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* Index Page */

body {
	font-family: "Roboto";
	background-color: var(--background);
}

#banner {
	position: fixed; margin: auto;
	top: 0; left: 0; right: 0;
	height: 40px; background-color: var(--banner);
}